{% extends "base.html" %}

{% block title %}Comments{% endblock %}

{% block content %}
    <h1>{{ title }}</h1>

    <!-- Display All Comments -->
    <h2>Comments</h2>
    {% if comments %}
        <ul class="list-group">
            {% for comment in comments %}
                <li class="list-group-item">
                    <p><strong>{{ comment.author.username }}:</strong> {{ comment.content | safe }}</p>
                    <small>{{ comment.date_created.strftime('%Y-%m-%d %H:%M:%S') }}</small>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>No comments yet.</p>
    {% endif %}

    <!-- Comment Form -->
    <h2>Post a Comment</h2>
    <div> Secret API Key: test123 </div>
    <form action="{{ url_for('comments') }}" method="post">
        {{ form.hidden_tag() }} <!-- CSRF token included here -->
        <div class="form-group">
            {{ form.content.label(class="form-label") }}<br>
            {{ form.content(class="form-control", rows=5) }}<br>
            {% for error in form.content.errors %}
                <div class="text-danger">{{ error }}</div>
            {% endfor %}
        </div>
        <div>
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>

    <a class="btn btn-secondary mt-3" href="{{ url_for('home') }}">Back to Home</a>
{% endblock %}
